*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}


.convertor{
    background-color: rgb(23, 219, 219);
    border-radius: 20px;
    padding: 20px;
    height:300px;
    width:300px;
    text-align: center;
   
}
.convertor h1{
    font-size: 20px;
    font-weight: 1000;
    padding-top: 50px;
    padding-bottom: 30px;
}

.toCurrency, .fromCurrency{
    width:200px;
}